
<div class="regis-container">
  <h2>REGISTRAZIONE</h2>
    <input type="text" class="input-field" placeholder="Username" required [(ngModel)]="username">
    <input type="password" class="input-field" placeholder="Password" required [(ngModel)]="password">
    <button type="submit" class="btn-login" (click)="Regist()">REGISTRA</button>
</div>
<div *ngIf="res.Pos==1"class="message success">
    <p>{{risposta}}</p>
</div>
<div *ngIf="res.Neg==1" class="message error">
    <p>{{risposta}}</p>
</div>